<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple  icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEquipementOrganes()" [disabled]="!selectedEquipementOrganes || !selectedEquipementOrganes.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="equipementorganes" [rows]="10" [paginator]="true" [globalFilterFields]="['id_Equip','id_Organe','J_ddm']"
        [(selection)]="selectedEquipementOrganes" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
     
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id_Equip">Equipement<p-sortIcon field="id_Equip"></p-sortIcon></th>
                <th pSortableColumn="id_Organe">id_Organe<p-sortIcon field="id_Organe"></p-sortIcon></th>
               <th pSortableColumn="J_ddm">J_ddm <p-sortIcon field="J_ddm"></p-sortIcon></th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-equipementorgane>
            <tr>
                <td>
                    <p-tableCheckbox [value]="equipementorgane"></p-tableCheckbox>
                </td>
                <td>{{equipementorgane.Designationequip}}</td>
   
                
                 <td>{{equipementorgane.J_ddm}}</td>
                
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEquipementOrgane(equipementorgane)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(equipementorgane)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{equipementorganes ? equipementorganes.length : 0 }} equipementorganes.
            </div>
        </ng-template>
    </p-table>
</div>




<p-dialog [(visible)]="equipementorganeDialog" [style]="{width: '450px'}" header="prevenitiveperiodique Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" *ngIf="equipementorganeFormGroupe">        
       <form [formGroup]="equipementorganeFormGroupe">
        <div class="form-group">
            <label class="col-sm-4 col-form-label">Equipement</label>
             <div class="form-group row">
                 <div class="col-sm-12">
                     <select id="id_Equip"  class="form-control" formControlName="id_Equip">
                         <option *ngFor="let s of equipements" value="{{s.id}}">{{s.Designation}}</option>
                     </select>
                 </div>
             </div>
            </div>
    <div class="form-group">
        <div class="p-field p-col-12 p-md-6">
            <label for="J_ddm">J_ddm</label>
            <p-calendar formControlName="J_ddm" [showTime]="true" inputId="J_ddm"></p-calendar>
        </div>
    </div>
    
    </form>
 </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveprevenitiveperiodique()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


